/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GLOBAL STYLES */
body {
    display: flex;
    justify-content: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 60vw;
    max-width: 100vw;
}

.header {
    width: 100%;
    background-color: aqua;
    padding: 1rem;
}

.header_nav {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.header_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    gap: 2rem;
}



